---
import Nextjs from '../icons/nextjs.astro';
import Tailwind from '../icons/tailwind.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black/50 text-white',
    icon: Nextjs,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: 'project1',
    description: 'Lorem ipsum dolor sit amet, consectetur',
    link: '#',
    githun: '#',
    image: 'https://learn.microsoft.com/es-es/windows/images/next-app.png',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-base mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row py-2">
        {tags.map(tag => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
